* {
  box-sizing: border-box;
}
body {
  margin: 0;
  padding: 0;
  font-family: Arial, Helvetica, sans-serif;
  min-height: 300vh;
  background-color: white;
}
/* Hero + Navbar */
nav {
  background-color: rgba(0, 0, 0, 0.5);
  transition: 0.5s;
  display: flex;
  align-items: center;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 999;
  height: 80px;
}
nav.sticky {
  background-color: rgba(0, 0, 0, 0.8);
  transition: 0.5s;
  height: 65px;
}
.nav-logo {
  position: relative;
  color: white;
  font-size: 36px;
  margin: 20px auto 20px 12%;
  font-weight: bold;
}

.nav-logo span {
  color: #3fc1d5;
}
.nav-links {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: right;
  gap: 20px;
}
.nav-links-container {
  margin: 0 12% 0 auto;
}
li {
  list-style: none;
  font-size: 1rem;
}
a {
  text-decoration: none;
}

.nav-links a {
  color: white;
  transition: 0.2s;
  display: inline-block;
  position: relative;
  z-index: 1;
  padding: 1em;
  margin: -1em;
}
.nav-links a:hover {
  color: #3fc1d5;
  transition: 0.1s;
}
.checkbtn {
  font-size: 30px;
  color: rgb(255, 255, 255);
  position: absolute;
  right: 1rem;
  margin-right: 40px;
  cursor: pointer;
  display: none;
}
#check {
  display: none;
}

@media (max-width: 858px) {
  .nav-logo {
    position: fixed;
    font-size: 28px;
    margin: 20px;
  }
  .checkbtn {
    display: block;
    margin: 20px;
  }
  nav {
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    height: 65px;
  }
  .nav-links-container {
    display: none;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    transition: 0.5s;
    position: fixed;
    padding-top: 10px;
    padding-bottom: 10px;
    top: 65px;
  }
  .sticky .nav-links-container {
    background-color: rgba(0, 0, 0, 0.8);
    transition: 0.5s;
  }
  .nav-links {
    width: 100%;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 40px;
    padding: 0;
  }

  #check:checked ~ .nav-links-container {
    display: block;
  }
}

.hero {
  background-image: url("images/pexels-pixabay-62623.jpg");
  filter: brightness(60%);
  min-height: 100vh;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
