#contact-page-header{
    background: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)),
    url("../../images/plane-601589_1920.jpg");
    background-position: center;

    background-repeat: no-repeat;
    background-size: cover;
}
