#hero {
  background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
    url('https://hmarin7755.github.io./Turbine-Solutions/images/king-air.jpg');
  min-height: 80vh;
  //   parallax
  background-attachment: fixed;

  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

